body{font-size: 14px; background-color: gainsboro;}
#wrapper{width: 100%;}
#left{width: 20%; float:left}
#left #logo{width:100%}
#content{width: 80%; background-color: ghostwhite; min-height: 400px; float:right}
#menu a:link, #menu a:visited{ text-decoration: none; display: block; padding: 10px ; background-color: black; color: white; margin-bottom:2px}
#menu a:hover{ background-color: yellow; color: black; }